body {
    font-family: Roboto,monaco,monospace; 
    background-color: #1b1a1d;
    color: whitesmoke;
    margin: 0;
    padding: 20px;
}
.hex-image {
    object-fit: contain;
    margin-right: 15px;
}
.search-bar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    width: 80%;
    max-width: 500px;
    border: 2px solid #555;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgba(27, 26, 29, 0.9);
    color: whitesmoke;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.search-bar:focus {
    outline: none;
    border-color: #6b8f6d;
}

.search-bar::placeholder {
    color: #aaa;
    font-style: italic;
}

  .info-panel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #2c2b2b;
    box-shadow: -4px 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .info-panel.open {
    right: 0;
  }

  .info-tab {
    position: absolute;
    left: -30px;
    top: 10%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #2c2b2b;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    user-select: none;
  }

  .info-tab:hover {
    background: #555;
  }

  .info-tab span {
    transition: transform 0.3s ease;
  }

  .info-panel.open .info-tab span {
    transform: rotate(180deg);
  }

  .info-content {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
  }

  .info-content h2 {
    margin-top: 0;
  }

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    cursor: pointer;
}

.fullscreen-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 10px;
}
.hex-image:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
}